body {
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: #1C1B1F;
    color: #E6E1E5;
}
#header {
    width: 100%;
    text-align: center;
    height: 10%;
    border-bottom: 5px solid black;
    padding: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
#header h1 {
    margin: 2vw;
    font-size: 7vh;
    padding: auto;
}
#p1, #p2 {
    width: calc(20% - 5px);
    float: left;
    height: 80vh;
    padding: auto;
    text-align: center;
    background-color: #EFB8C8;
    color: #492532;
}
#p1 {
    border-right: 5px solid black;
}
#p2 {
    border-left: 5px solid black;
}
#ustawienia {
    font-size: x-large;
    background-color: #633B48;
    border-radius: 10%;
    border: 2px solid black;
    height: 20vmax;
    width: 20vmax;
    margin: 10vh 20vw;
    text-align: center;
    color: #FFD8E4;
}
#ustawienia button {
    background-color: #633B48;
    width: 20%;
    font-size: xx-large;
    color: azure;
}
#gra {
    margin-top: 10vh;
}
#game {
    padding: auto;
    width: 60%;
    height: 80vh;
    float: left;
    background-color: #CCC2DC;
    color: #332D41;
}
footer {
    padding: auto;
    clear: both;
    height: calc(100vh - 10% - 60%);
}
.tr {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dysk {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: darkgrey;
    border: 3px solid  black;
    margin: 2px;
}
.zebrane {
    opacity: 0%;
}
.current_player{
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    background-color: red;
    color: azure;
}